from dotenv import load_dotenv
import os
from RejectionTracker import RejectTracker


# Use the python console to set passwords so they never appear
# in source code.
#
# import keyring
# keyring.set_password("robinhood", "david.medinets@gmail.com", "password")

class Config:
    def __init__(self):
        load_dotenv()
        self.robinhood_username = os.getenv('USERNAME_ROBINHOOD')
        self.robinhood_password = os.getenv('PASSWORD_ROBINHOOD')

        self.seekingalpha_username = os.getenv('USERNAME_SEEKING_ALPHA')
        self.seekingalpha_password = os.getenv('PASSWORD_SEEKING_ALPHA')

        self.max_stock_price = 20.0

        self.path_01_market_symbols = 'data-01-market-symbols.csv'

        no_filters = False
        if no_filters:
            self.min_bid_size = 0
            self.min_volume = 10
            self.min_income = 0
            self.min_open_interest = 0
            self.max_stock_price = 10000
            self.min_chance_of_profit_short = .0
            self.min_annualized = .0
        else:
            self.min_bid_size = 20
            self.min_volume = 100
            self.min_income = 30
            self.min_open_interest = 250
            self.max_stock_price = 20
            self.min_chance_of_profit_short = .70
            self.min_annualized = .20

        self.rejection_tracker = RejectTracker()
